doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" href="/images/message.svg" type="image/svg+xml")
  body
    header 
      h2
        a(href="/") Members Only  
      .actions 
        if !user 
          a.action(href="/users/signup") Sign Up 
          a.action(href="/users/login") Log In
        else
          a.btn(href="/messages/create") New Message
          a.action(href="/users/logout") Log Out
          a.action(href=user.url) Profile
    main
      block content
