doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Members Only the website where you can sign up to become a member and start messaging! Members Only project made for The Odin Project.')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" href="/images/message.svg" type="image/svg+xml")
    script(src="/javascripts/theme.js")
  body
    header
      h2
        a(href="/") Members Only  
      .actions
        button#theme-toggle
            img(src="/images/theme-light-dark.svg", alt="Theme")
        if !user
          a.action(href="/users/signup") Sign Up 
          a.action(href="/users/login") Log In
        else
          if user.role !== "non-member"
            form.search(action="/users/search", method="GET")
              input(type="text" name="username" placeholder="Search users...")
              button.submit(type="submit") Search
          a.btn(href="/messages/create") New Message
          a.action(href=user.url) Profile
          a.action(href="/users/logout") Log Out        
    main
      block content
