extends layout 

block content 
    section
        h1= title 
        form(action="/users/logout" method="POST" novalidate)
            p Are you sure you want to log out?
            button.submit(type="submit") Log Out

            .notice
                | Back to homepage
                a(href="/").link Home

