extends layout 

block content
    link(rel='stylesheet', href='/stylesheets/message.css')
    section 
        h1= title
        form(action="/messages/create" method="POST" novalidate)
            .input-group
                label(for="title") Title
                input(type="text" name="title" id="title" placeholder="Enter a title (3-50 characters)" required minlength="3" maxlength="50")
            .input-group
                label(for="text") Message
                textarea(name="text" id="text" placeholder="Enter your message (6-255 characters)" required minlength="6" maxlength="255")
            
            if errors
                ul
                    each error in errors
                        li.error= error.msg

            button.submit(type="submit") Create Message
