extends layout 

block content
    link(rel='stylesheet', href='/stylesheets/profile.css')
    section.settings
        if currentUser.username !== user.username 
            h1.primary You are not authorized to view this page.
        else
            h1.primary Settings
            if user.role === 'non-member'
                form(action=`${user.user_url}/settings`, method="POST")
                    .input-group
                        label(for="memberPassword") Enter Membership Password:
                        input(type="text" name="memberPassword" id="memberPassword")
                    if errors
                        ul
                            each error in errors
                                li.error= error.msg
                    button.submit(type="submit") Save Changes
                p You can find the password to become a member here!
                a.link(href="https://github.com/Purpleboxe/Members-Only") https://github.com/Purpleboxe/Members-Only
            else if user.role === 'member'
                h2 You are currently a Member 
            else if user.role === 'admin'
                h2 You are currently an Admin
            .danger-zone
                h1.primary Danger Zone
                .danger-zone-form
                    form(action=`/users/${currentUser.id}/messages/delete`, method="POST", onsubmit="return confirmDeleteMessages()")
                        button.btn(type="submit") Delete All Messages

                    form(action=`/users/${currentUser.id}/delete`, method="POST", onsubmit="return confirmDeleteUser()")
                        button.btn(type="submit") Delete Account

    script.
        function confirmDeleteMessages() {
            return confirm("Are you sure you want to delete all your messages? This action cannot be undone.");
        }

        function confirmDeleteUser() {
            return confirm("Are you sure you want to delete this account? This action cannot be undone and all your messages will be deleted.");
        }
