:root {
  --background: #f8f9fa;
  --font: #212529;
  --lighter-font: #495057;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--font);
  padding: 0;
  margin: 0;
}

section {
  padding: 2rem 15vw;
}

header {
  display: flex;
  justify-content: space-evenly;
}

a {
  color: var(--font);
  text-decoration: none;
}

.link {
  color: var(--lighter-font);
  text-decoration: underline;
}
