:root {
  --background: #f8f9fa;
  --shadow: rgba(210, 210, 210, 0.6);
  --shadow2: rgba(210, 210, 210);
  --font: #212529;
  --lighter-font: #383e44;
  --hover: #009bf5;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--font);
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 15vw;
}

header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--shadow);
  background-color: white;
  padding: 6px 8rem;
}

a {
  color: var(--font);
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px var(--shadow);
  padding: 30px;
}

.link {
  color: var(--lighter-font);
  font-weight: bold;
  text-decoration: underline;
}

.actions {
  display: flex;
  align-items: center;
  gap: 60px;
}

.action {
  font-weight: bold;
  border-radius: 10px;
  color: var(--font);
  transition: 0.1s ease-in-out;
}

.action:hover {
  color: var(--hover);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group input {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: var(--font);
  width: 20vw;
}

.input-group input:focus {
  border: 1px solid var(--hover);
}

.submit {
  background-color: #35987c;
  border: none;
  color: white;
  padding: 10px 60px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.submit:hover {
  background-color: #2f876e;
}

.notice {
  display: flex;
  gap: 10px;
}

.primary {
  font-size: 2rem;
}

.error {
  list-style-type: circle;
  color: rgb(215, 45, 45);
}

.btn {
  color: var(--hover);
  background-color: transparent;
  border: 1px solid var(--hover);
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}

.btn:hover {
  background-color: #008cde;
  color: white;
}
